@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 body{
    background: #333333 !important;
            background: -webkit-linear-gradient(to right, #dd1818, #333333) !important;
            background: linear-gradient(to right, #dd1818, #333333) !important;
            border-radius:30px;
            border:none;
            background-size: cover;
            height: 100%;
            width:100%;
 }

 .kaar{
    color: greenyellow !important;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 900;
 }
 .megam{
    color: white !important;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 900;
 }
 .navbar {
     height:70px;
     background-color: rgb(97, 84, 84) !important;
 }
 .rounded{
    width:100px;
    height:70px;
 }