.container img{
    height: 500px;
    width: 700px;
}

img{
    width: 1320px;
    height: 550px;
    padding-left:20px;
}

body{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    background-size: cover;
    width:100%;
    height:100%;
}

h2{
    color: yellow;
}