<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="container">
    <nav class="navbar">
      <h2 align="center" class="mx-auto"> SALES FORECAST FOR NEXT 18 MONTHS</h2>
      <button type="button" class="btn btn-warning" (click)="navigateToSalesForecast()">Go Back</button>
    </nav>
  </div>
  <br>
  <img src="http://localhost:5000/uploads/forecast_graph.png" alt="Sales Forecast Graph">
  <!-- <img src="http://localhost:5000/uploads/forecast_graph.png?timestamp=<current_timestamp>" alt="Sales Forecast Graph"> -->

  <br><br>

</body>

</html>






<!-- <button (click)="loadGraph()">Load Graph</button> -->